KONG_PG_USER=kong-indie-devs
KONG_PG_DB=kong-gateway
KONG_PG_PASSWORD=indiedevs1122

KONG_GW_UPSTREAM_HTTP_PORT=8000
KONG_GW_UPSTREAM_HTTPS_PORT=6445

KONG_GW_ADMIN_HTTP_PORT=6001
KONG_GW_ADMIN_HTTPS_PORT=6446

KONGA_WEB_PORT=6337
KONGA_SECRET_KEY=km1GUr4RkcQD7DewhJPNXrCuZwcKmqjb
KONGA_KONG_CONSUMER_ID=449380e9-ea29-43c2-9a04-d653ead4ebd8
KONGA_CONSUMER_NAME=konga
KONGA_MODE=development
